.login-form input.form-control {
    outline: none;
  }
.login-form input.form-control:focus {
    box-shadow: none !important;
    outline-style: solid;
    outline-width: 3px;
    outline-color:rgba(245, 188, 39, 0.3);
    border: none;
  }
.login-form input{
    outline: none;
    border-radius: 0 !important;
    
    font-size: 16px;
    background-color: #fff;
    color: #000 !important;
}
.login-form input::placeholder{
color: #b9b3b3 !important;
}