
.product{
    cursor: pointer;
    border-radius: 7px;
    background-color: aliceblue;
}
.imgContainer{
    background-color: red;
    border-radius: 5px;
    width: 250px;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
}
img{
    width: 200px;
    height: 200px;
    object-fit: fill;
    background-color: blue;
    border-radius: 5px;
    transition: .3s ease-in-out;
}
img:hover{
    transform: scale(1.1);
    
}
.product h2{
    text-align: center;
    font-size: 1.3rem !important;
    color: dimgrey;
}
.product p { text-align: center; line-height: 15px;}
.product p a{
    text-decoration: none;
    font-size: 1.2rem;
    color: dimgrey;
}